/* src/components/Home.module.css */
.homeContainer {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(145deg, #242a52, #303f9f);
  border-radius: 5px;
  padding: 5px 50px;
  color: white;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.2em;
}

.navMenu li {
  cursor: pointer;
  transition: color 0.3s;
}

.navMenu li:hover {
  color: #3498db;
}

.dropdown {
  background-color: #a9b6e0;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 15px;
  border-radius: 5px;
  bottom: 100px;
  cursor: pointer; 
}

.dropdown:hover {
  background-color: #95a5a6;


}

.dropdownMenu {
  list-style: none;
  padding:0 ;
  background: rgba(157, 168, 218, 0.521);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 190px;
  margin-left: 550px;
  position: absolute;

}


.dropdownMenu li {
  padding: 10px;
  cursor: pointer;

  
}

.dropdownMenu li:hover {
  background-color: #2b3c6b;
  color: rgb(255, 255, 255);
}

.mapContainer {
  position: relative;
  margin-top: 20px;
}

.mapImage {
  display: block;
  margin: 40px 0 0 100px;  /* Empuja 20px a la derecha */
  width: 400px;
  transition: transform 0.4s ease;
}

.mapImage:hover {
  transform: scale(1.1);   /* Expande un 10% */
}

.resumen{
  color: #2b3c6b;
  font-size: 1.5em;
  line-height: 1.2;       /* Ajusta el espacio vertical */
  position: relative;     
  top: -25px;     
}
.summaryList{
  position: relative;     
  top: -30px;     
}


.tripSummary {
  display: inline-block;
  text-align: left;
  background: hwb(0 100% 0% / 0.651);
  padding: 20px;
  height: 200px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;     /* Habilita desplazamientos controlados */
  top: -270px;             /* Sube más el cuadro */
  left: 420px;            /* Mueve a la derecha */
  transition: all 0.3s ease;
}

.exploreButton {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  top: -560px;
  left: 200px;
}

.exploreButton:hover {
  background-color: #2980b9;
}