/* src/components/Home.module.css */
.homeContainer {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px 50px;
  color: white;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.2em;
}

.navMenu li {
  cursor: pointer;
  transition: color 0.3s;
}

.navMenu li:hover {
  color: #3498db;
}

.dropdown {
  background-color: #bdc3c7;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown:hover {
  background-color: #95a5a6;
}

.dropdownMenu {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dropdownMenu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}

.mapContainer {
  position: relative;
  margin-top: 20px;
}

.mapImage {
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.tripSummary {
  display: inline-block;
  text-align: left;
  background: #F0F2F5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.exploreButton {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exploreButton:hover {
  background-color: #2980b9;
}
